<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chap08_DoitMission.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>766ACD3B1F2AFCED00683B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766ACD4F1F2AFCEF00683B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766ACD5A1F2AFCEF00683B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
