<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSON_Sample2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76148EB01F2848BA00048232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76148EC41F2848BA00048232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76148ECF1F2848BA00048232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
