<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSON_MapSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>766ACD011F2AD4A200683B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766ACD151F2AD4A300683B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766ACD201F2AD4A300683B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
